<!doctype html>

<html ng-app="countdownApp">

<head>
	
	<title>Countdown clock generator</title>
	
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	
	<!-- Moment -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.3.0/moment-timezone.js"></script>
	
	<!-- Pym -->
	<script src="../pym.js"></script>
	
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	
	<style type="text/css">
		#countdown {
			width:100%;
			overflow:hidden;
		}
	</style>
	
</head>

<body ng-controller = "countdownController">
	<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Countdown clock tool</a>
        </div>
      </div>
    </nav>

	<div class="container theme-showcase" role="main">

	      <!-- Main jumbotron for a primary marketing message or call to action -->
	      <div class="jumbotron">
	        <h1>Make your own countdown clock for fun and profit</h1>
	        <p>A special date coming up, eh? Want to make a clock counting down to it? You've come to the right place.</p>
	     </div>
		
		<form>
		  <div class="form-group">
		    <label for="title">Title</label>
		    <input value="gdsgg" type="text" ng-model="countdown.title" class="form-control" id="title" placeholder="Time until <strong>Election 2016</strong>">
		  	<span class="help-block">Wrap <code>&lt;strong&gt;</code> tags around text you'd like to highlight.</span>
		</div>
		<div class="form-group">
			<label for="datetime">Date/Time</label>
		    <input type="datetime-local" ng-model="countdown.datetime" class="form-control" id="datetime">
		</div>
		
		<iframe id="countdown" ng-src="{{ makeURL(countdown.title, countdown.datetime) }}"></iframe>
		
		<div class="form-group">
			<label for="embed">Embed code</label>
		    <input type="text" ng-model="makeEmbed(countdown.title, countdown.datetime)" class="form-control" id="embed">
			<span class="help-block">Copy and paste this (in HTML view!) beneath the paragraph of your choice in your story.</span>
		</div>
		
		</form>	
		
			
	</div>

</body>

<script src="app.js"></script>

</html>